<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace 要设置是实现接口的具体包名及类名 -->
<mapper namespace="com.example.mybatis.mapper.UserMapper">
    <!-- 根据 id 查询用户 -->
    <select id="getUserById" resultType="com.example.mybatis.model.UserInfo">
        select * from userinfo where id = ${id}
    </select>
</mapper>